[submodule "concord"]
	path = concord
	url = https://github.com/Cogmasters/concord.git
	branch = dev
[submodule "cut"]
	path = cut
	url = https://github.com/gab462/cut
[submodule "cglm"]
	path = cglm
	url = https://github.com/recp/cglm
[submodule "olive.c"]
	path = olive.c
	url = https://github.com/tsoding/olive.c
[submodule "msf_gif"]
	path = msf_gif
	url = https://github.com/notnullnotvoid/msf_gif
