[submodule "concord"]
	path = lib/concord
	url = https://github.com/Cogmasters/concord.git
	branch = dev
[submodule "cut"]
	path = lib/cut
	url = https://github.com/gab462/cut
[submodule "cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm
[submodule "olive.c"]
	path = lib/olive.c
	url = https://github.com/tsoding/olive.c
[submodule "msf_gif"]
	path = lib/msf_gif
	url = https://github.com/notnullnotvoid/msf_gif
